html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #f00;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 600px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* visibility: hidden; */
  visibility: visible;
}

.wrapper.is_show {
  visibility: visible;
}

.slide {
  position: absolute;
  z-index: 0;
}

.slide img {
  transition: all 3s ease-out;
  display: none;
}

.slide img.left-right {
  transform: translateX(-100px) scale(1.5);
}

.slide img.right-left {
  transform: translateX(100px) scale(1.5);
}

.slide img.top-bottom {
  transform: translateY(-100px) scale(1.5);
}

.slide img.bottom-top {
  transform: translateY(100px) scale(1.5);
}
